# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/.project
/.settings
/double-provider/.classpath
/double-provider/.factorypath
/double-provider/.project
/double-provider/.settings
/double-provider/target
/dummy-json-xml-translator/.classpath
/dummy-json-xml-translator/.factorypath
/dummy-json-xml-translator/.project
/dummy-json-xml-translator/.settings
/dummy-json-xml-translator/target
/shared-resources/.classpath
/shared-resources/.factorypath
/shared-resources/.project
/shared-resources/.settings
/shared-resources/target
/tq-provider/.classpath
/tq-provider/.factorypath
/tq-provider/.project
/tq-provider/.settings
/tq-provider/target
*.lck

